!!! 5
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title
    %meta{ name: 'theme-color', content: '#ffffff' }
    %meta{ name: 'robots', content: 'noindex, nofollow' }

  %body

    .main.container-fluid
      = yield
